body {
	background-color: #F4F5F4;
}

#wrap,
#content .border {
	background-image: url('../images/dotted_border_filled.gif');
	background-repeat: repeat-y;
	background-position: 50% 0;
}

#header .inner {
	height: 101px;
}

#content .border {
	min-height: 128px; /* side background image height - content border padding x 2 */
}
#content .content-container {
	background-image: url('../images/sp_bg_strip_side.gif'); /* height = 168px */
	background-repeat: repeat-x;
}
#content .border {
	padding: 20px;
}
